<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	version="5.0">

	<servlet>
		<description></description>
		<display-name>CreateUserServlet</display-name>
		<servlet-name>CreateUserServlet</servlet-name>
		<servlet-class>CreateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateUserServlet</servlet-name>
		<url-pattern>/addServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>UpdateUserServlet</display-name>
		<servlet-name>UpdateUserServlet</servlet-name>
		<servlet-class>UpdateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateUserServlet</servlet-name>
		<url-pattern>/updateServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<description></description>
		<display-name>ReadUserServlet</display-name>
		<servlet-name>ReadUserServlet</servlet-name>
		<servlet-class>ReadUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadUserServlet</servlet-name>
		<url-pattern>/readServlet</url-pattern>
	</servlet-mapping>

	<display-name>WithContextParam</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>dbUser</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>password</param-value>
	</context-param>
	<context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/</param-value>
	</context-param>
</web-app>